html, body {
	height: 100%;
	background-color: grey;
}
body {
	margin: 0px;
	padding: 0px;
	
	font-family: 'Raleway', sans-serif;
	font-size: 11pt;
	font-weight: 400;
	color: #363636;
    
}
#login1 {
    background-color: white;
    text-align: center;
    padding: 50px;
    left: 100px;
    right: 100;
    width: auto;

}
#login1 .gumb1{
    background-color: green;
    border: 0;
    color: white;
    height: 50px;
}
#login1 .gumb2{
    background-color: aqua;
    border: 0;
    color: white;
    height: 50px;
    position: relative;
    right: 50px;
}
#login1 .prijava img{
    width: 200px;

}

.natrag{
    width: 50px;
}